@import '../../components/Layout/Layout'

.section-about
  margin: 250px auto
  width: $main-column-width

.section-about
  h1
    // text-align: center
    font-size: 2.5rem
    margin-bottom: 100px
  
  a.anchor
    display: block
    position: relative
    top: $anchor-top-offset
    visibility: hidden

.skill-grid-container
  margin-top: 50px
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px))

.profile-grid-container
  display: grid
  grid-template-columns: 2fr 1fr
  grid-gap: 50px

.profile-img
  max-width: 350px
