#about
  margin: 200px auto

.skill-grid-container
  margin-top: 50px
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

.profile-grid-container
  display: grid
  grid-template-columns: 2fr 1fr
  grid-gap: 50px

.profile-img
  max-width: 300px
  margin-bottom: 1.45rem

.profile-img  
    img
      border-radius: 200px