.project-card
  display: grid
  grid-template-rows: 180px 1fr
  border: 2px solid rgba(204, 204, 204, 0.6)
  border-radius: 10px
  font-size: 0.9rem

.project-img
  img
    width: 100%

.project-details
  padding: 0 15px
  padding-bottom: 20px

.project-details
  nav
    display: flex
    align-items: center

.project-details
  nav
    img
      margin: 0 auto