.project-card
  display: grid
  grid-template-rows: 180px 1fr
  border: 2px solid rgba(204, 204, 204, 0.6)
  border-radius: 10px
  font-size: 0.9rem

.project-img
  img
    width: 100%
    border-radius: 10px 10px 0 0

.project-details
  padding: 0 15px
  padding-bottom: 20px

.project-details
  h3
    margin-top: 20px

  nav
    display: flex
    align-items: center

.project-details
  nav
    img
      margin: 0 auto

@media screen and ( max-width: 900px )
  .project-details
    nav
      justify-content: space-between

    nav
      img:first-of-type
        width: 40px
        &:last-of-type
          width: 30px    