.hero-grid-container
  background-image: url("../../images/bg-field.jpg")
  background-size: cover
  height: 100vh
  color: white
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  position: relative
  top: -80px
  z-index: -1

.hero-header
  text-align: center
  font-size: 1.5rem

.hero-header
  h1
    margin-bottom: 0
