@import '../../components/Layout/Layout'
  
#contact
  margin: 250px auto
  width: $main-column-width

#contact
  h1
    font-size: 2.5rem
    margin-bottom: 100px

  nav
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(80px, 150px))
    justify-content: center
    justify-items: center

  img
    width: 60px