@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap')

$main-column-width: 60%
$anchor-top-offset: -150px

html
  scroll-behavior: smooth

body
  box-sizing: border-box
  margin: 0 auto
  font-family: 'Comfortaa', cursive

.layout-grid-container
  margin: 0 auto