header
  display: flex
  justify-content: space-between
  position: sticky
  top: 0
  margin: 0 30px
  height: 80px
  // color: gray

header
  h1:hover
    cursor: pointer

header
  nav
    display: flex
    align-items: center

  ul
    list-style: none
    display: flex
    justify-content: space-between
    align-items: center
    width: 300px

  a
    text-decoration: none
    color: black
    font-size: 1.2rem
    transition: color 0.3s ease-out
    &:hover
      color: gray