header
  display: flex
  justify-content: space-between
  position: sticky
  top: 0
  margin: 0 auto
  padding: 0 30px
  height: 80px
  z-index: 1
  color: white
  background: none
  transition: background 0.5s ease-in-out

header.scrolled
  background: rgba(200, 200, 200, 1)
  // background: linen

header
  h1:hover
    cursor: pointer

header
  nav
    display: flex
    align-items: center

  ul
    list-style: none
    display: flex
    justify-content: space-between
    align-items: center
    width: 300px

  a
    text-decoration: none
    color: white
    font-size: 1.2rem
    transition: color 0.3s ease-out
    &:hover
      color: gray

header.scrolled
  a:hover
    color: black